.mat-form-field{
  width: 100%;
}

// .mat-horizontal-content-container { padding: 0 10px 24px 10px; }
// ::ng-deep .mat-horizontal-stepper, .mat-horizontal-content-container{
//   border: dashed 1px blue;
//   padding: 1px;
// }
// ::ng-deep .mat-horizontal-stepper-header-container {
//   border: solid 1px red;
//}

.mat-grid-tile{
  padding: 20px, 20px, 20px, 10px;
  background-color: darkgrey;
  border-color: black;
  text-align: center;
}
// .example-section {
//   display: flex;
//   align-content: center;
//   align-items: center;
//   height: 60px;
//   padding-right: 1rem;
// }

// .example-h2 {
//   margin: 10px;
// }

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}

.example-margin {
  margin: 0 10px;
}

.grid span {

    margin-right: 20px;

}

body{
  width: 30%;
}
.example-form-field {
  width: 50px;
}
